/* * {
	border: 1px solid black;
}*/

body {
	background-color: #fffef9;
	margin: 0;
}

.header {
	color: white;
	background-color: #aee2ce;
	margin: 0;
	padding: 40px;
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 40px;
	text-align: center;
}

h2 {
	color: #222;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	text-align: center;
}

.itemName {
	color: #222;
	font-family: 'Roboto', serif;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	margin: auto;
}

ul {
	padding-left: 0;
}

.list-item {
	color: #222;
	/*display: none;*/
	font-family: 'Roboto', serif;
	font-size: 14px;
	font-weight: 400;
	list-style-type: none;
	margin: auto;
	padding: 0;
	text-align: center;
}

#subheader {
	background-color: #f9c4d8;
	color: white;
	text-align: center;
}

/*.category {
	columns: 2;
}*/